@use "../abstract" as *;

footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  background-color: $clr-primary-black;
  gap: 3rem;

  .logo {
    width: 140px;
    height: 24px;
  }
}

nav[aria-label="secondary-nav"] {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  img {
    width: 24px;
    height: 24px;
  }
}

.attribution {
  display: flex;
  flex-direction: column;
}

@include md {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem clamp(2rem, -10.7469rem + 26.556vw, 10rem);
  }

  .wrapper {
    &:first-child {
      align-items: start;
      nav ul {
        flex-direction: row;
      }
    }
    &:last-child {
      align-items: end;
    }
  }

  .attribution {
    text-align: right;
  }
}

@include xl {
  footer {
    position: relative;
    padding: 3rem clamp(10rem, -8.6567rem + 23.8806vw, 20rem);
  }
  .attribution {
    position: absolute;
    gap: 1rem;
    left: 50%;
    translate: -50% 0;
    bottom: 3rem;
  }
}
